<div class="container-full">
        <div class="row">
            <div class="col-lg-12 footer-bg1">
                <div class="footer-icons">
                    <ul class="list-inline">
                        <li><a href="#"><span class="sprite-24-govd"></span></a></li>
                        <li><a href="#"><span class="sprite-24-facebook"></span></a></li>
                        <li><a href="#"><span class="sprite-24-twitter"></span></a></li>
                        <li><a href="#"><span class="sprite-24-youtube"></span></a></li>
                        <li><a href="#"><span class="sprite-24-instagram"></span></a></li>
                        <li><a href="#"><span class="sprite-24-listen"></span></a></li>
                        <li><a href="#"><span class="sprite-24-watch"></span></a></li>
                        <li><a href="#"><span class="sprite-24-rss"></span></a></li>
                    </ul>      
                </div>        
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 footer-bg2">
                <div class="footer-lists">
                    <ul class="list-inline">
                        <li><a href="#">About CDC</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Funding</a></li>
                        <li><a href="#">Policies</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">FOIA</a></li>
                        <li><a href="#">No Fear Act</a></li>
                        <li><a href="#">OIG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-sec">
        <div class="row">
            <div class="col-lg-6 col-md-6 footer-address">
                1600 Clifton Road Atlanta, GA 30329-4027 USA 
<br>800-CDC-INFO (800-232-4636), TTY: 888-232-6348
<br><a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx">Email CDC-INFO</a>
            </div>
            <div class="col-lg-6 col-md-6 footer-links">
                
<a href="#">U.S. Department of Health &amp; Human Services</a>
<br><a href="#">HHS/Open</a>
<br><a href="#">USA.gov</a>
            </div>
        </div>
    </div>