<div ng-controller="ShellController as vm" class='container'>
  <header class="clearfix" id="top">
    <top-nav></top-nav>
  </header>
  <section id="content" class="content">

    <search></search>
    <!-- <span us-spinner></span> -->
    <div ui-view class="shuffle-animation"></div>

    <!-- <div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="dissolve-animation"> -->
      <!-- <img src="images/spin.gif" /> -->

      <!-- <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div> -->
    </div>
  </section>
  <footer>
    <footer></footer>
  </footer>
</div>