<div ng-show="error" class="alert alert-danger">{{error}}</div>
<!--<form name="form" ng-submit="vm.login(vm.username, vm.password)" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <i class="fa fa-key"></i>
        <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Login</button>
    </div>
</form>-->


<div>
  <div class="login-cont"><br/><br/><br/><br/>
    
    <div class="login-content-cont">
      <div align="center" class="login-content">
        <h4>Please sign in for access to CDC Info</h4><br/>&#x9;&#x9;&#x9;
        <form name="form" ng-submit="vm.login(vm.username, vm.password)" role="form">
          <div class="form-group">
            <input id="exampleInputEmail1" type="text" placeholder="Username" ng-model="vm.username" class="form-control input-lg"/>
          </div>  &#x9;&#x9;&#x9;
          <div class="form-group">
            <input id="exampleInputPassword1" type="password" placeholder="Password" ng-model="vm.password" class="form-control input-lg"/>
          </div>
            &#x9;&#x9;&#x9;
          <button type="submit" style="width:100%; background-color:#9ccd25; border:1px solid #8cb823; text-shadow: -1px 1px 0px rgba(122, 163, 22, 1);"  class="btn btn-success btn-lg">Login</button>
        </form>
        <br/>
        <h5>Please contact us at <a href="mailto:informaticslab@cdc.gov">informaticslab@cdc.gov</a> for access.</h5>
      </div>
    </div>
    <div align="center" class="login-footer"><br/>   &#x9;<img src="images/iiu-logo.png"/></div>
  </div>
</div>