<section class='mainbar'>
    <div id="section1" class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 ">
            <h2>{{vm.data.title}}</h2>
            <!--<div class="row" ng-if="vm.data.category">
                <div class="col-lg-12">
                    Categories: <span ng-repeat="category in vm.data.category">{{category}} </span>
                </div>
            </div>-->
            <!--<div class="row" ng-if="vm.data.link">
                <div class="col-lg-12">
                    Links: <span ng-repeat="link in vm.data.link">{{link}}</span>
                </div>
            </div>-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-section" ng-bind-html='vm.data.text'></div>
                </div>
            </div>

        </div>

    </div>


    <div id="section3" class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>





    <!--<div class="row">
        <div class="col-lg-12">
            <strong>WAS THIS HELPFUL TO YOU?</strong>
            <br>
            <div ng-if='!vm.showThanks'>
                <button class="btn btn-default" type="submit" ng-click='vm.ratePreparedResponse(vm.like)'><i class="glyphicon glyphicon-thumbs-up"></i>                    Yes</button> &nbsp;<button class="btn btn-default" type="submit" ng-click='vm.ratePreparedResponse(vm.dislike)'><i class="glyphicon glyphicon-thumbs-down"></i> No</button>
                </div>
                <div ng-if='vm.showThanks'>
                    Thank you for your feedback.
                </div>
            </div>
        </div>-->

    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
</section>