<section class='mainbar'>
  <div class='row'>
    <div class='col-lg-12'>
      <h3>Please choose a log: </h3>
      <ul>
        <li ng-repeat='log in vm.logs'>{{log}}</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12'>
      <table class='table table-bordered'>
        <thead>
          <th>Hostname</th>
          <th>PID</th>
          <th>Timestamp</th>
          <th>Message</th>
        </thead>
        <tbody>
          <tr ng-if='vm.logDetails' ng-repeat='detail in vm.logDetails'>
            <td>{{detail._source.hostname}}</td>
            <td>{{detail._source.pid}}</td>
            <td>{{detail._source["@timestamp"]}}</td>
            <td>{{detail._source.message}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>