<section class='mainbar'>
  <div class='row'>
    <div class='col-lg-12'>
      <h3>Please choose a log: </h3>
      <ul>
        <li ng-repeat='log in vm.logs'>{{log}}</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12'>
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchLog">

          </div>      
        </div>
      </form>
      <dir-pagination-controls boundary-links='true'></dir-pagination-controls>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <td>Hostname</td>
            <td>PID</td>
            <td>Timestamp</td>
            <td>Type</td>
            <td>Message</td>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-if='vm.logDetails' ng-repeat='detail in vm.logDetails | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchLog'>
            <td>{{detail._source.hostname}}</td>
            <td>{{detail._source.pid}}</td>
            <td>{{detail._source["@timestamp"]}}</td>
            <td>Success/False</td>
            <td>{{detail._source.message}}</td>
          </tr> -->
          <tr ng-if='vm.logDetails'  dir-paginate='detail in vm.logDetails | itemsPerPage:vm.pageSize | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchLog' current-page='vm.currentPage'>
            <td>{{detail._source.hostname}}</td>
            <td>{{detail._source.pid}}</td>
            <td>{{detail._source["@timestamp"]}}</td>
            <td>Success/False</td>
            <td>{{detail._source.message}}</td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls on-page-change='vm.toTop("top")' boundary-links='true'></dir-pagination-controls>
    </div>
  </div>
</section>