<section id='home-view' class='mainbar'>
  <section class='matter'>
    <div class='container'>
      <div class='row'>
        <div class='well searchbox'>
          <div class='row'>
            <div class='input-group searchbar col-lg-6'>
              <input type='text' class='form-control' ng-model='vm.selected' uib-typeahead='pr for pr in vm.getQuery($viewValue)' typeahead-loading="loadingLocations" typeahead-no-results="noResults" class='form-control' placeholder='Seach CDC-INFO'>
              <span class='input-group-btn'>
                <button class='btn btn-default' type='button' ng-click='vm.search(vm.selected)'><i class='fa fa-search fa-lg' aria-hidden='true'></i></button> 
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class='row' ng-if='vm.resultsArr == null'>
        <div class='well'>
          <div>
            <h4>You have questions? We have answers.</h4>
            <p>CDC-INFO is the CDC’s national contact center, providing information to the public, healthcare providers, and public health professionals. CDC-INFO offers live agents to help you find the up-to-date, reliable, consistent, and science-based health information you’re looking for, on more than 750 health topics.</p>
            <p>CDC-INFO also manages the distribution of printed materials through the CDC-INFO On Demand ordering system. On Demand is a webpage where you can order or download CDC materials free of charge.</p>
          </div>
        </div>
      </div>
      <div class='row' ng-if='vm.resultsArr != null'>
        <div class='col-lg-6'>
          <dir-pagination-controls template-url="/bower_components/angularUtils-pagination/dirPaginationCustom.tpl.html"></dir-pagination-controls><span> results for "{{vm.selected}}"</span>
        </div>
        <div class='col-lg-6'>
          <div class='pull-right'>
            <span>Sort by
              <select>
                <option>Relevance</option>
                <option>Topic</option>
                <option>Type</option>
                <option>Keywords</option>
              </select>
             </span>
          </div>
        </div>
        <div class="col-lg-12"><hr></div>
      </div>
      <div class='row' ng-if='vm.resultsArr != null'>
        <div class='col-lg-3'>
          <h4>Refine by</h4>
          <h5>Audience</h5>
          <ul>
            <li>For everyone</li>
            <li>For the public</li>
            <li>For health care specialist</li>
          </ul>
        </div>

        <div class='col-lg-9'>
          <div dir-paginate='response in vm.resultsArr | itemsPerPage: vm.pageSize' current-page='vm.currentPage'>
            <h4><a href="#" class='query'>{{response._source.query}}</a></h4>
            <p>{{response._source.response | limitTo: 250}}</p>
            <p class='id'>ID: {{response._source.id}}</p>
          </div>
          <dir-pagination-controls boundary-links='true'></dir-pagination-controls>
        </div>
      </div>
    </div>
  </section>
</section>