span[class*=sprite-] {
	margin:0 5px;
	display:block
}
span[class*=sprite-].center {
	margin-right:auto;
	margin-left:auto
}
span[class*=sprite-14],i[class*=sprite-14] {
	height:14px;
	min-height:14px;
	max-height:14px;
	width:14px;
	min-width:14px;
	max-width:14px
}
span[class*=sprite-16],i[class*=sprite-16] {
	height:16px;
	min-height:16px;
	max-height:16px;
	width:16px;
	min-width:16px;
	max-width:16px
}
span[class*=sprite-24],i[class*=sprite-24],img[class*=sprite-24] {
	height:25px;
	min-height:25px;
	max-height:25px;
	width:25px;
	min-width:25px;
	max-width:25px
}
span.sprite-24-resize {
	height:30px;
	min-height:30px;
	max-height:30px;
	width:30px;
	min-width:30px;
	max-width:30px;
	margin:0
}
span[class*=sprite-32],i[class*=sprite-32] {
	height:33px;
	min-height:33px;
	max-height:33px;
	width:33px;
	min-width:33px;
	max-width:33px
}
span[class*=sprite-40],i[class*=sprite-40] {
	height:41px;
	min-height:41px;
	max-height:41px;
	width:41px;
	min-width:41px;
	max-width:41px
}
span[class*=sprite-48],i[class*=sprite-48] {
	height:49px;
	min-height:49px;
	max-height:49px;
	width:49px;
	min-width:49px;
	max-width:49px
}
.sprite-24-govd {
    background: url(../img/ss.png) no-repeat 0 -85px;
}
.sprite-24-facebook {
    background: url(../img/ss.png) no-repeat -52px -85px;
}
.sprite-24-twitter {
    background: url(../img/ss.png) no-repeat -78px -85px;
}
.sprite-24-youtube {
    background: url(../img/ss.png) no-repeat -26px -85px;
}
.sprite-24-instagram {
    background: url(../img/ss.png) no-repeat -233px -85px;
}
.sprite-24-listen {
    background: url(../img/sm.png) no-repeat -155px -85px;
}
.sprite-24-watch {
    background: url(../img/sm.png) no-repeat -129px -85px;
}
.sprite-24-rss {
    background: url(../img/ss.png) no-repeat -155px -85px;
}

.container {
	margin-top:-80px;
}
.navbar-inverse {
    background-color: #eee;
    border-color: none;
}
.hero {
	padding:0px;
	margin-top:8px;
}
.navbar {
	height:6px;
	background-color: #075290;
	min-height:0px;
	margin-bottom:0px;
}
.nav>li {
    border-bottom: 1px solid;
    border-color: #fff;
}
.navbar-nav > li > a:hover {
	background-color:#eef6fd;
}

.navbar-fixed-top .navbar-brand {
    padding: 14px !important;
}
.navbar-fixed-top .navbar-brand2 {
    padding: 14px !important;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding-top:17px;
    padding-left:0px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand2 {
    float: left;
    height: 37px;
    font-size: 18px;
    line-height: 20px;
    margin-top:17px;
    margin-bottom:0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #6d6d6d;
}
.icon-bar {
	background-color:#6d6d6d;
}
.navbar-inverse  {
    background-color: #075290;
    border-color:#075290;
}
.navbar-toggle:focus, .navbar-toggle:hover {
    background-color: #eee;
}
.nav-style {

}
.logo-head {
	width:475px;
}
.cdc-info-header {
	background-color: #075290;
	color:#ffffff;
	font-size:22px;
	font-height:24px;

	padding:11px 0 11px 5px;
	margin-top:20px;
}
.cdc-info-search {
	background-color:#e3f2fe;
	padding:20px 20px 15px 20px;
	margin-top:10px;
}
.cdc-info-home {
	background-color:#f0f0f0;
	padding:20px;
	margin-top:10px;
	margin-bottom:20px;
}
.span-menu {
	text-align: center;
}
.cust-li li {
	margin-top:15px;
	list-style: none;
	margin-left:0px;
	line-height:17px;
}
.cust-li ul {
	padding-left:10px;
}
.cust-updated li {
	margin-top:0px;
	margin-bottom:4px;
	list-style:none;
	margin-left:0px;
	font-weight:300;
}
.cust-updated ul {
	padding-left:0px;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.footer-bg1 {
	background-color:#c0c0c0;
}
.footer-bg2 {
	background-color:#e5e5e5;
}
.footer-icons {
	margin: 0 auto;
	padding-top:6px;
}
.footer-icons ul {
list-style-type: none;
text-align: left;
padding:0;
margin:0;
}
.footer-icons ul li {
	display: inline-block;
	padding-right:11px;
}
.footer-lists {
	margin: 0 auto;
	font-size:14px;
	padding: 10px 0 10px 0;
	font-weight:400;
}
.footer-lists a {
	color:#404040;
}
.footer-lists ul {
list-style-type: none;
text-align: left;
padding:0;
margin:0;
}
.footer-lists ul li {
	display: inline-block;
	padding-right:32px;
}
.footer-address {
	line-height:25px; 
	margin-top:25px; 
	margin-bottom:30px;
	font-weight:300;
}
.footer-links {
	text-align:right; 
	line-height:25px; 
	margin-top:25px; 
	margin-bottom:30px;
	font-weight:300;
}
.footer-links a {
	color:#1a1a1a;
}
.footer-sec {
	margin: 0 auto;
}
.search-results {
	margin-top:11px;
	margin-bottom:-10px;
}
.search-results2 {
	margin-top:11px;
	margin-bottom:-10px;
	text-align: right;
}
.left-filters {
  
  font-size:12px;
}
.cb-group {
	margin-bottom:15px;
}
.right-results {
	padding-left:20px;
	border-left: 1px solid #eee;
}
.indv-results {
	margin-bottom:35px;
}
.date-color {
	color:#a3a3a3;
}
.liked {
	font-size:12px; 
	font-weight:400;
	color:#686868;
}
.title-section {
	margin-top:15px;
}
.share-section {
	margin-top:35px;
	text-align:right;
}
.share-section a {
	color:#a8a8a8;
}
.share-section a:hover {
	color:#c6c6c6;
}
.glyphicon-share-alt {
	font-size:1.2em;
}
.glyphicon-print {
	font-size:1.2em;
}
.glyphicon-envelope {
	font-size:1.2em;
}
.content-section {
	margin-top:15px;
}
@media (max-width: 768px) {
	.search-results2 {
	text-align: left;
}
}
@media (min-width: 768px) {
	.nav>li {
		border-bottom: 0px solid;
    	border-color: #fff;
	}
}
@media (max-width: 768px) {
	.footer-links {
		text-align:left; 
		margin-left:15px;
	}
}
@media (max-width: 768px) {
	.footer-address {
		text-align:left; 
		margin-left:15px;
	}
}
@media (min-width: 768px) {
	.footer-sec {
		width:750px;
	}
 }
@media (min-width: 800px) {
	.footer-sec {
		width:950px;
	}
 }
@media (min-width: 1124px) {
	.footer-sec {
		width:1170px;
	}
 }
@media (min-width: 1500px) {
	.footer-sec {
		width:1170px;
	}
 }
@media (min-width: 768px) {
	.footer-icons {
		width:720px;
	}
 }
@media (min-width: 800px) {
	.footer-icons {
		width:950px;
	}
 }
@media (min-width: 1124px) {
	.footer-icons {
		width:1170px;
	}
 }
@media (min-width: 1500px) {
	.footer-icons {
		width:1170px;
	}
 }
 @media (min-width: 768px) {
	.footer-lists {
		width:720px;

	}
 }
 @media (max-width: 742px) {
 	.footer-lists {
 		margin-left:15px;
 	}
 }
@media (min-width: 800px) {
	.footer-lists {
		width:950px;
	}
 }
@media (min-width: 1124px) {
	.footer-lists {
		width:1170px;
	}
 }
@media (min-width: 1500px) {
	.footer-lists {
		width:1170px;
	}
 }

@media (min-width: 605px) {
.navbar-brand2 {
    display: none;
}}

@media (max-width: 605px) {
.navbar-brand {
    display: none;
}}

@media (min-width: 767px) {
.left-filters2 {
    display: none;
}}

@media (max-width: 767px) {
.left-filters {
    display: none;
}}
@media (max-width: 767px) {
.share-section {
    text-align:left;
    margin-top:10px;
}}



